body {
  font-family: "Rubik", sans-serif;
}
.jumbotron {
  padding-top: 6rem;
  margin-bottom: 2rem;
  background-color: #212529;
}
.jumbotron .display-4 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
}

#projects {
  background-color: #212529;
}

section {
  padding-top: 5rem;
}
